<form action="/trees" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </li>
    <li>
      <label for="species">Species</label>
      <input type="text" name="species" id="species"/>
    </li>
    <li>
      <label for="country">Country</label>
      <input type="text" name="country" id="country"/>
    </li>
    <li>
      <label for="image">Image</label>
      <input type="text" name="image" id="image"/>
    </li>
    <li>
      <input type="submit" value="Create Tree"/>
    </li>
  </ul>
</form>
