development:
  adapter: postgresql
  encoding: unicode
  database: great_trees_development
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: great_trees_test
  pool: 5
  username: gschool
  password:
